In [1]:
import pandas as pd

In [2]:
social_mobility_df = pd.read_csv("health_ineq_online_table_12.csv")

In [17]:
unique_counties = set()

def add_to_unique(row):
    unique_counties.add(row['county_name'] + ":" + row['statename'])

social_mobility_df.apply(lambda x: add_to_unique(x), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
3133    None
3134    None
3135    None
3136    None
3137    None
Length: 3138, dtype: object

In [18]:
len(unique_counties)

3138

In [20]:
social_mobility_df.columns

Index(['cty', 'county_name', 'cty_pop2000', 'cz', 'cz_name', 'cz_pop2000',
       'statename', 'state_id', 'stateabbrv', 'csa', 'csa_name', 'cbsa',
       'cbsa_name', 'intersects_msa', 'cur_smoke_q1', 'cur_smoke_q2',
       'cur_smoke_q3', 'cur_smoke_q4', 'bmi_obese_q1', 'bmi_obese_q2',
       'bmi_obese_q3', 'bmi_obese_q4', 'exercise_any_q1', 'exercise_any_q2',
       'exercise_any_q3', 'exercise_any_q4', 'puninsured2010',
       'reimb_penroll_adj10', 'mort_30day_hosp_z', 'adjmortmeas_amiall30day',
       'adjmortmeas_chfall30day', 'adjmortmeas_pnall30day', 'med_prev_qual_z',
       'primcarevis_10', 'diab_hemotest_10', 'diab_eyeexam_10',
       'diab_lipids_10', 'mammogram_10', 'amb_disch_per1000_10',
       'cs00_seg_inc', 'cs00_seg_inc_pov25', 'cs00_seg_inc_aff75',
       'cs_race_theil_2000', 'gini99', 'poor_share', 'inc_share_1perc',
       'frac_middleclass', 'scap_ski90pcm', 'rel_tot', 'cs_frac_black',
       'cs_frac_hisp', 'unemp_rate', 'pop_d_2000_1980', 'lf_d_2000_1980',
       'cs_labforce', 'cs_elf_ind_man', 'cs_born_foreign', 'mig_inflow',
       'mig_outflow', 'pop_density', 'frac_traveltime_lt15', 'hhinc00',
       'median_house_value', 'ccd_exp_tot', 'ccd_pup_tch_ratio', 'score_r',
       'dropout_r', 'cs_educ_ba', 'tuition', 'gradrate_r', 'e_rank_b',
       'cs_fam_wkidsinglemom', 'crime_total', 'subcty_exp_pc', 'taxrate',
       'tax_st_diff_top20'],
      dtype='object')

In [21]:
social_mobility_df['exercise_any_q1'].describe()

count    2386.000000
mean        0.595246
std         0.123001
min         0.000000
25%         0.538462
50%         0.600000
75%         0.661920
max         1.000000
Name: exercise_any_q1, dtype: float64

In [9]:
social_mobility_df[["cs_born_foreign", "county_name", "statename"]].sort_values("cs_born_foreign", ascending=False)

      cs_born_foreign county_name   statename
327          50.93567        Dade     Florida
1862         46.12670      Queens    New York
1776         38.52326      Hudson  New Jersey
1845         37.79496       Kings    New York
2678         37.77618    Maverick       Texas
...               ...         ...         ...
1739          0.00000     Wheeler    Nebraska
443           0.00000    Glascock     Georgia
2667          0.00000      Loving       Texas
1706          0.00000   McPherson    Nebraska
1693          0.00000      Hooker    Nebraska

[3138 rows x 3 columns]

In [6]:
social_mobility_df.head(10)['county_name'].tolist()

['Autauga',
 'Baldwin',
 'Barbour',
 'Bibb',
 'Blount',
 'Bullock',
 'Butler',
 'Calhoun',
 'Chambers',
 'Cherokee']

In [9]:
social_mobility_df.head(1).style.apply(lambda x: print(x))

0    1001
Name: cty, dtype: int64
0    Autauga
Name: county_name, dtype: object
0    43671
Name: cty_pop2000, dtype: int64
0    11101
Name: cz, dtype: int64
0    Montgomery
Name: cz_name, dtype: object
0    367927.0
Name: cz_pop2000, dtype: float64
0    Alabama
Name: statename, dtype: object
0    1
Name: state_id, dtype: int64
0    AL
Name: stateabbrv, dtype: object
0   NaN
Name: csa, dtype: float64
0    NaN
Name: csa_name, dtype: object
0    33860.0
Name: cbsa, dtype: float64
0    Montgomery, AL
Name: cbsa_name, dtype: object
0    1
Name: intersects_msa, dtype: int64
0    0.333333
Name: cur_smoke_q1, dtype: float64
0    0.238095
Name: cur_smoke_q2, dtype: float64
0    0.208333
Name: cur_smoke_q3, dtype: float64
0    0.133333
Name: cur_smoke_q4, dtype: float64
0    0.375
Name: bmi_obese_q1, dtype: float64
0    0.238095
Name: bmi_obese_q2, dtype: float64
0    0.26087
Name: bmi_obese_q3, dtype: float64
0    0.133333
Name: bmi_obese_q4, dtype: float64
0    0.5
Name: exercise_any_q1, dtype: float64
0    0.666667
Name: exercise_any_q2, dtype: float64
0    0.666667
Name: exercise_any_q3, dtype: float64
0    0.8
Name: exercise_any_q4, dtype: float64
0    13.60128
Name: puninsured2010, dtype: float64
0    9489.02
Name: reimb_penroll_adj10, dtype: float64
0    0.799735
Name: mort_30day_hosp_z, dtype: float64
0    0.146564
Name: adjmortmeas_amiall30day, dtype: float64
0    0.111778
Name: adjmortmeas_chfall30day, dtype: float64
0    0.15004
Name: adjmortmeas_pnall30day, dtype: float64
0    0.574765
Name: med_prev_qual_z, dtype: float64
0    85.52827
Name: primcarevis_10, dtype: float64
0    84.771574
Name: diab_hemotest_10, dtype: float64
0    72.419628
Name: diab_eyeexam_10, dtype: float64
0    83.92555
Name: diab_lipids_10, dtype: float64
0    68.465909
Name: mammogram_10, dtype: float64
0    70.95
Name: amb_disch_per1000_10, dtype: float64
0    0.036455
Name: cs00_seg_inc, dtype: float64
0    0.043313
Name: cs00_seg_inc_pov25, dtype: float64
0    0.037231
Name: cs00_seg_inc_aff75, dtype: float64
0    0.128216
Name: cs_race_theil_2000, dtype: float64
0    0.379976
Name: gini99, dtype: float64
0    0.109228
Name: poor_share, dtype: float64
0    0.06143
Name: inc_share_1perc, dtype: float64
0    0.5195
Name: frac_middleclass, dtype: float64
0   -0.897834
Name: scap_ski90pcm, dtype: float64
0    56.11275
Name: rel_tot, dtype: float64
0    17.009
Name: cs_frac_black, dtype: float64
0    1.396808
Name: cs_frac_hisp, dtype: float64
0    0.037379
Name: unemp_rate, dtype: float64
0    0.353762
Name: pop_d_2000_1980, dtype: float64
0    0.527531
Name: lf_d_2000_1980, dtype: float64
0    0.651493
Name: cs_labforce, dtype: float64
0    0.164787
Name: cs_elf_ind_man, dtype: float64
0    1.165533
Name: cs_born_foreign, dtype: float64
0    0.05704
Name: mig_inflow, dtype: float64
0    0.051018
Name: mig_outflow, dtype: float64
0    73.27741
Name: pop_density, dtype: float64
0    0.233124
Name: frac_traveltime_lt15, dtype: float64
0    34379.54
Name: hhinc00, dtype: float64
0    126368.4
Name: median_house_value, dtype: float64
0    4.460057
Name: ccd_exp_tot, dtype: float64
0    19.71598
Name: ccd_pup_tch_ratio, dtype: float64
0   -7.308133
Name: score_r, dtype: float64
0    0.0039
Name: dropout_r, dtype: float64
0    18.0
Name: cs_educ_ba, dtype: float64
0   NaN
Name: tuition, dtype: float64
0   NaN
Name: gradrate_r, dtype: float64
0    41.87288
Name: e_rank_b, dtype: float64
0    0.191595
Name: cs_fam_wkidsinglemom, dtype: float64
0    0.009353
Name: crime_total, dtype: float64
0    1059.669
Name: subcty_exp_pc, dtype: float64
0    0.011183
Name: taxrate, dtype: float64
0    0.0
Name: tax_st_diff_top20, dtype: float64

ValueError: Function <function <lambda> at 0x7fd9b6b1dd30> returned the wrong shape.
Result has shape: (76,)
Expected shape:   (1, 76)

In [17]:
states = ['Texas', 'Florida']
stateset = set("Texas").add("Florida")
social_mobility_df[social_mobility_df.statename.isin(states)]

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,csa,...,dropout_r,cs_educ_ba,tuition,gradrate_r,e_rank_b,cs_fam_wkidsinglemom,crime_total,subcty_exp_pc,taxrate,tax_st_diff_top20
315,12001,Alachua,217955,7900,Gainesville,320199.0,Florida,12,FL,264.0,...,0.026458,38.7,1796.19,0.397520,40.38425,0.294778,NaN,3058.465,0.022009,0.0
316,12003,Baker,22259,7600,Jacksonville,1176696.0,Florida,12,FL,300.0,...,0.002999,8.2,NaN,NaN,46.07199,0.194971,NaN,2219.139,0.013684,0.0
317,12005,Bay,148217,10000,Panama City,172606.0,Florida,12,FL,NaN,...,-0.019490,17.7,1941.60,-0.012836,43.72281,0.246230,NaN,3242.437,0.020882,0.0
318,12007,Bradford,26088,7900,Gainesville,320199.0,Florida,12,FL,NaN,...,0.001632,8.4,NaN,NaN,44.34438,0.241608,NaN,1582.945,0.012698,0.0
319,12009,Brevard,476230,7300,Palm Bay,589177.0,Florida,12,FL,NaN,...,-0.004696,23.6,6751.32,0.091150,42.41811,0.225134,NaN,2271.358,0.018603,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,48499,Wood,36752,33300,Tyler,434643.0,Texas,48,TX,NaN,...,-0.002913,14.5,5200.00,-0.280657,50.62703,0.164099,0.006243,1775.119,0.025621,0.0
2767,48501,Yoakum,7322,30801,Hobbs,90061.0,Texas,48,TX,NaN,...,-0.026964,10.2,NaN,NaN,60.03125,0.132463,0.008877,3541.885,0.105732,0.0
2768,48503,Young,17943,32602,Graham,28556.0,Texas,48,TX,NaN,...,-0.028008,14.4,NaN,NaN,53.88855,0.182353,0.005462,2264.317,0.034003,0.0
2769,48505,Zapata,12182,31503,Laredo,210580.0,Texas,48,TX,NaN,...,-0.003528,8.7,NaN,NaN,51.31543,0.174734,0.000492,2647.915,0.083760,0.0
2770,48507,Zavala,11600,31501,Crystal City,21848.0,Texas,48,TX,NaN,...,0.029609,7.6,NaN,NaN,43.74376,0.264000,0.005259,2012.333,0.046405,0.0